*{
	margin:0;
}

header{
  width: 100%;
  height: 150px;
}

header.sticky #principal_header {
	opacity: 0;
}

header.sticky #header_escondida {
	opacity: 1;
	transition: all 0.4s ease;
}

header.sticky #menu_escondida {
	opacity: 1;
	transition: all 1s ease;
}

header.sticky #logo_escondida {
	opacity: 1;
	transition: all 1s ease;
}

#principal_header{
  width: 100%;
	height:150px;
	-webkit-box-shadow: 0px 10px 5px -5px rgba(96,113,126,0.75);
	-moz-box-shadow: 0px 10px 5px -5px rgba(96,113,126,0.75);
	box-shadow: 0px 10px 5px -5px rgba(96,113,126,0.75);
	position: fixed;
	background-color:#fff;
	z-index: 999;
	transition: 0.5s;
	border:0px solid black;
}

#header_escondida{
	background-color: #fff;
	position: fixed;
	-webkit-box-shadow: 0px 10px 5px -5px rgba(96,113,126,0.75);
	-moz-box-shadow: 0px 10px 5px -5px rgba(96,113,126,0.75);
	box-shadow: 0px 10px 5px -5px rgba(96,113,126,0.75);
	width: 100%;
	height: 80px;
	z-index: 999;
	opacity: 0;
}

#logo{
  width: 300px;
  height:100%;
  margin-left: 5px;
	float: left;
	border: solid 0px;
}

#logo img{
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  position: absolute;
  margin-top: -60px;
}

#logo_escondida{
	width: 300px;
  height:80px;
  margin-left: 50px;
	float: left;
}

#logo_escondida img{
	width: 300px;
	height: 80px;
}

/******************************** MENU DO SITE *********************************/

a{
		text-decoration: none;
}

a.menu_busca {
	width: 150px;
  height: 50px;
  float: left;
  margin-left: 0px;
	border:0px solid;
	border-bottom: solid 4px #5270ff;
	border-radius:0px;
}

a.menu_parceiros {
	width: 90px;
  height: 50px;
  float: left;
  margin-left: 0px;
	text-decoration: none;
	border: 0px solid;
	border-bottom: solid 4px #5270ff;
	border-radius:0px;
}

a.menu {
	width: 190px;
  height: 50px;
  float: left;
  margin-left: 0px;
	border: 0px solid;
	border-bottom: solid 4px #5270ff;
	border-radius:0px;
}

a.menu_promocoes {
	width: 110px;
  height: 50px;
  float: left;
  margin-left: 0px;
	border-bottom: solid 4px #5270ff;
	border-radius:0px;
}

a.menu_sobre {
	width: 70px;
  height: 50px;
  float: left;
  margin-left: 0px;
	border-bottom: solid 4px #5270ff;
	border-radius:0px;
}

.menu:hover, .menu_busca:hover, .menu_parceiros:hover, .menu_promocoes:hover, .menu_sobre:hover{
	border-bottom: solid 4px #5270ff;
}

.menu{
  width: 190px;
  height: 50px;
  float: left;
  margin-left: 40px;
	border: 0px solid;
	border-radius:0px;
}

.menu_parceiros{
  width: 90px;
  height: 50px;
  float: left;
  margin-left: 40px;
	text-decoration: none;
	border: 0px solid;
	border-radius:0px;
}

.menu_busca{
  width: 150px;
  height: 50px;
  float: left;
  margin-left: 40px;
	border:0px solid;
	border-radius:0px;
}

.menu_promocoes{
  width: 110px;
  height: 50px;
  float: left;
  margin-left: 40px;
	border-radius:0px;
}

.menu_sobre{
  width: 70px;
  height: 50px;
  float: left;
  margin-left: 40px;
	border-radius:0px;
}

.menu h1, .menu_parceiros h1, .menu_parceiros h1, .menu_busca h1, .menu_promocoes h1, .menu_sobre h1{
	font-family: 'Bad Script', cursive;
	font-size: 22px;
	color: #000;
	text-decoration:none;
	text-align: center;
}

#principal_menu{
  width: 1200px;
  height: 50px;
  position: absolute;
  margin-left: 400px;
  margin-top: 60px;
}

#menu_escondida{
	width: 1200px;
	height: 40px;
	position: absolute;
	margin-left: 480px;
	margin-top: 20px;
	opacity: 0;
}

#principal{
	width: 1200px;
	margin: auto;
	min-height:100%;
	overflow:hidden;
	height:auto;
	margin-bottom: 80px;
	border: solid 0px;
}

#template{
  width: 100%;
  height: 700px;
  background-color: #000;
}

/***************** ANIMAÇÃO SWING *****************/
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#template:hover #input_busca{
	-webkit-animation: swing 0.8s ease;
  animation: swing 0.8s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

}

#template:hover #btn_buscar{
	-webkit-animation: swing 0.8s ease;
  animation: swing 0.8s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

}

#template img{
  width: 100%;
  height: 700px;
}

#principal_login{
  width: 300px;
  height: 250px;
  position: absolute;
  margin-top: -700px;
  margin-left: 1370px;
	border: 0px solid;
}

#principal_login p{
	width: 200px;
	color: #fff;
	margin-left: 120px;
	margin-top: -100px;
	font-size: 30px;
}

#foto_user{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  float: left;
}

#foto_user img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

#inputs_login{
  width: 190px;
  height: 100px;
  float: left;
  margin-left: 5px;
}

.inputs_login{
  border: 0;
  width: 190px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#btn_login{
  width:190px;
  height:40px;
  position: absolute;
  margin-top: 110px;
  margin-left:105px;
}

#btn_login:hover #btn_logar{
	color:#fff;
	transition: 1s;
}

#btn_logar{
  width: 190px;
  height: 40px;border:0;
  background-color:#5270ff;
	transition: 1s;
}

.inputs_login::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  color: #4682B4;
  font-style: italic;
}

.inputs_login:-moz-placeholder { /* Firefox 18- */
  color: #4682B4;
  font-style: italic;
  opacity: 1;
}

.inputs_login::-moz-placeholder {  /* Firefox 19+ */
  color: #4682B4;
  font-style: italic;
  opacity: 1;
}

#cadastra_se{
  width: 110px;
  height:20px;
  position: absolute;
  margin-top: 160px;
  margin-left:145px;
}

#log_hoteleiro{
	width: auto;
	height: auto;
	border:0px solid #5270ff;
	margin-left: 100px;
	margin-top: 220px;
	text-align: center;
}

#log_hoteleiro:hover {
	-webkit-animation: swing 0.1s ease;
  animation: swing 0.1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

}

#a_index_cadastrar{
  color:#fff;
  font-size: 20px;
	font-family: Tahoma;
	margin-top: 0px;
}

#busca_index{
  width: 800px;
  height: 100px;
  position: absolute;
  margin-top: -400px;
  margin-left:400px;
}

#busca_index img{

}

#input_busca{
  width: 1000px;
  height: 100px;
  font-family: Calibri;
	margin-left: auto;
	margin-right: auto;
   font-size: 45px;
   /*border-top: transparent;
   border-left: transparent;
   border-right: transparent;*/
	 border-top: solid 3px #fff;
   border-left: solid 3px #fff;
   border-right: solid 3px #fff;
   border-bottom: solid 3px #fff;
   background-color: transparent;
	 opacity: 0.6;
   color: #fff;
}

/*#template:hover #input_busca{
   border-top: solid 3px #fff;
	 border-right: solid 3px #fff;
   border-left: solid 3px #fff;
   border-bottom: solid 3px #fff;
   background-color: transparent;
   color: #fff;
	 transition-duration: 0.2s;
}*/

 input:focus, button:focus, textarea:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#btn_buscar{
  position: absolute;
  margin-top: -90px;
  width: 80px;
  height: 80px;
  margin-left: 900px;
  background-color: transparent;
  border: 0px solid;
}

#btn_buscar img{
  width: 80px;
  height: 80px;
}

/******************************** Código para criar a área do hotel ********************************/

#principal_produtos{
	width: 1200px;
	margin: auto;
	min-height:100%;
	overflow:hidden;
	height:auto;
	margin-bottom: 80px;
	border: solid 0px;
}

.produtos_div{
	width: 300px;
	min-height: 420px;
	height: auto;
	margin-left: 80px;
	margin-top: 80px;
	float: left;
	border: solid 0px;
	border-radius: 2px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px #c5c5c5;
}

.produtos_div:hover .btn_produto{
	opacity: 1;
	transition: 1.1s;
}

.produtos_div img{
	width: 300px;
	height: 200px;
	border-radius: 2px;
}

.legenda_produto{
	width: 300px;
	height: 215px;
	margin-top: 0px;
	position: absolute;
	opacity: 1;
	transition: 1s;
	background: rgba(255, 255, 255, 0.6);
	border: solid 0px;
}

.txt_nome_hotel{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 20px;
	color: #000;
	font-family: Calibri;
}

.txt_estado_hotel{
	margin-left: 20px;
	font-size: 18px;
	color: #000;
	font-family: Calibri;
	opacity: 0.7;
}

.legenda_produto img{
	width: 30px;
	height: 30px;
	margin-top: 40px;
	margin-left: 15px;
	float:left;
}

.txt_caracteristica_hotel{
	text-align: left;
	margin-top: 45px;
	font-size: 18px;
	color: #000;
	font-family: Calibri;
	opacity: 0.7;
}

.txt_diaria_hotel{
	font-family: Calibri;
	margin-top: 30px;
	font-size: 12px;
}

.txt_rs{
	margin-top: 20px;
	margin-left: 10px;
}

.txt_preco_hotel{
	margin-top: -35px;
	margin-left: 30px;
	font-size: 35px;
	font-family: Calibri;
}

.btn_produto{
	font-size: 20px;
	color: #fff;
	background-color:#5270ff;
	font-family: Calibri;
	width: 150px;
	height: 50px;
	border: 0;
	opacity: 0;
	margin-top: -60px;
	margin-left: 150px;
	margin-right: 5px;
	transition:0.5s;
	float: right;
}

.btn_produto:hover{
	color:#000;
	transition:0.5s;
}

/******************************************************************************/

/*============================================== BUSCA AVANÇADA ==============================================*/

#area_pesquisa{
	border:solid 0px;
	width: 1000px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#area_pesquisa:hover #img_filtro{
	-webkit-animation: swing 0.8s ease;
  animation: swing 0.8s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#input_busca_avancada{
	width: 800px;
  height: 100px;
  font-family: Calibri;
	margin-top: 80px;
	margin-left: 100px;
	margin-right: auto;
	 font-size: 45px;
	 border-top: transparent;
	 border-left: transparent;
	 border-right: transparent;
	 border-bottom: solid 3px #000;
	 background-color: transparent;
	 color: #000;
}

#btn_pesquisa_avancada{
	position: absolute;
	margin-top: 100px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 0;
}

#filtros{
	width: 800px;
	height: auto;
	background-color: #f9f9f9;
	display: none;
	margin: auto;
	box-shadow: 0px 0px 2px 2px #b5b5b5;
	border-radius: 2px;
}

#labels{
	width:800px;
	height:auto;
	border: 0px solid;

}

.labels{
	display: block;
}

#img_filtro{
	width: 40px;
	height: 40px;
	margin-top: 50px;
	transition: 0.5s;
}

#filtros input[type="checkbox"]{
	visibility: hidden;
}

#filtros label{
	width: 28px;
	height: 28px;
	top: 1px.
	left: 1px;
	background-color: white;
	cursor: pointer;
	border:2px solid #ccc;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 50px;

}

#filtros label:before{
		content: '';
		width: 9px;
		height: 5px;
		border: 3px solid white;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
		top: 6px;
		left: 6px;
		opacity: 1;
}

#filtros input[type="checkbox"]:checkbox + label:before{
	opacity: 1;
}

#filtros input[type="checkbox"]:checked + label{
	border:2px solid #5270ff;
	background-color: #5270ff;
}

#filtros p{
	margin-top: -30px;
	margin-left: 100px;
	font-size: 25px;
	font-family: Calibri;
}

#txt_busca_avancada{
	width: 1000px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 50px;
	font-family: Calibri;
	border: solid 0px;
}

#txt_busca_avancada p{
	opacity: 0.5;

}

/*============================================== PARCEIROS ==============================================*/

#txt_parceiros{
	width: 1000px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 50px;
	font-family: Calibri;
	border: solid 0px;
}

#txt_parceiros p{
	opacity: 0.5;
}

.area_parceiro{
	width: 250px;
	height: 300px;
	border: solid 0px;
	margin-top: 100px;
	margin-left: 115px;
	float: left;
	box-shadow: 5px 5px 5px #c5c5c5;
	margin-bottom: 10px;
}

.img_logo_parceiro{
	width: 250px;
	height: 200px;
}

.img_icone_local{
	width: 35px;
	height: 35px;
	float: left;
}
.img_icone_local img{
	width: 35px;
	height: 35px;
	float: left;

}

.txt_local_parceiro{
	float: left;
	margin-top: 10px;
	font-size: 20px;
	font-family: Calibri;
}

.txt_nome_parceiro{
	font-size: 25px;
	margin-top: 50px;
	margin-left: 20px;
	font-family: Calibri;

}

.btn_ver_parceiro{
	font-size: 20px;
	color: #fff;
	background-color:#5270ff;
	font-family: Calibri;
	width: 50px;
	height: 50px;
	border: 0;
	opacity: 0;
	margin-top: -40px;
	margin-left: 150px;
	margin-right: 5px;
	transition:0.5s;
	float: right;
}

.btn_ver_parceiro:hover{
	color:#000;
	transition:0.5s;
}

.area_parceiro:hover .btn_ver_parceiro{
	opacity: 1;
	transition: 1.1s;
}

/*============================================== CONHEÇA SEU DESTINO ==============================================*/

#btn_buscar_conhecaDestino{
  position: absolute;
  margin-top: -90px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 0px solid;
}

#btn_buscar_conhecaDestino img{
  width: 80px;
  height: 80px;
	margin-top: 190px;
	margin-left: -170px;
}

.area_comentario{
	width: 800px;
	height: 300px;
	border: solid 1px transparent;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 5px #c5c5c5;
	margin-bottom: 10px;
}

.img_hotel_conhecaDestino{
	width: 300px;
	height: 300px;
	border: solid 0px;
	float: left;
}

.img_usuario_conhecaDestino{
	width: 50px;
	height: 50px;
	border: 0px solid;
	margin-top: 20px;
	margin-left: 40px;
	border-radius: 100%;
	float: left;
}

.txt_nome_conhecaDestino{
	margin-top: 30px;
	font-size: 25px;
	font-family: Calibri;
	font-weight: bold;
}

.txt_comentario_conhecaDestino{
	margin-top: 30px;
	margin-left: 350px;

}

/*=================================MELHORES DESTINOS===========================================*/
#txt_categoria{
	width: 1000px;
	margin-top: 45px;
	float:left;
	margin-left:85px;
	font-size: 50px;
	font-family: Calibri;
	border: solid 0px;
}
#txt_categoria p{
	opacity: 0.5;
}
.icone_wifi{
	float:left;
	width:25px;
	height:25px;
	margin-top:7px;
	margin-right: 280px;
}
.espacoCat{
	width:1197px;
	height:600px;
	margin-right:10px;
	float:left;
	border:0px solid black;


}

.txt_preco_hotel_destinos{
	margin-top: -35px;
	margin-left: 30px;
	font-size: 35px;
	font-family: Calibri;
	float:left;
	margin-right:130px;

}

.txt_diaria_hotel_destinos{
	font-family: Calibri;
	margin-top: 30px;
	font-size: 12px;
	float:left;
	margin-right:130px;
}


.txt_rs_destinos{
	margin-top: 20px;
	margin-left: 10px;
	float:left;
	margin-right:130px;
}
.txt_caracteristica_hotel_melhoresDestinos{
	margin-top: -20px;
	float: left;
	margin-left: 40px;
	font-size: 18px;
	color: #000;
	font-family: Calibri;
	opacity: 0.7;

}

.espacoCat>.button_melhoresDestinos{
	width:40px;
	height:40px;
	position:absolute;
	border:none;
	border-radius:25px;
	background-color:transparent;
	color:#5270ff;
	font-size:25px;
	margin-top:250px;

}
.espacoCat>#btn1{
	position:relative;
	float:left;
	margin-right:-140px;
}
.espacoCat>#btn1:hover{
	/*box-shadow: 5px 0px 5px 0px #ffffff;
	-webkit-transform:scale(1.3);*/
	-ms-transform:scale(1.3);
	transform:scale(1.3);

}
.espacoCat>#btn2{
	position:relative;
	float:right;
	margin-left:10px;
}
.espacoCat>#btn2:hover{
	/*box-shadow: -5px 0px 5px 0px #ffffff;
	-webkit-transform:scale(1.3);*/
	-ms-transform:scale(1.3);
	transform:scale(1.3);

}

.produtos_div_melhoresDestinos{
	width: 300px;
	min-height: auto;
	height:auto ;
	margin-left: 80px;
	margin-top: 80px;
	float: left;
	border: solid 0px;
	border-radius: 2px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px #c5c5c5;
}

.produtos_div_melhoresDestinos:hover .btn_produto{
	opacity: 1;
	transition: 1.1s;
}

.imagem_melhoresdestinos{
	width: 300px;
	height: 200px;
	border-radius: 2px;
}

/*========================================PROMOÇÕES============================*/
.promocao_div{
	width: 300px;
	min-height: 420px;
	height: auto;
	margin-left: 200px;
	margin-top: 80px;
	float: left;
	border: solid 0px;
	border-radius: 2px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px #c5c5c5;
}

.promocao_div:hover .btn_produto{
	opacity: 1;
	transition: 1.1s;
}

.promocao_div img{
	width: 300px;
	height: 200px;
	border-radius: 2px;
}
.legenda_produto img{
	width: 30px;
	height: 30px;
	margin-top: 40px;
	margin-left: 15px;
	float:left;
}
.promo img{
	width: 100px;
	height: 100px;
	position:absolute;
	float:right;
	margin-top:-214px;
	margin-left:-7px;
}


/*============================================== SOBRE ==============================================*/
.hexagon {
  position: relative;
  width: 180px;
  height: 103.92px;
  background-color: #0e87cf;
  margin: 51.96px 0;
  transform:rotate(-30deg);
  margin-top:52px;
  margin-left:175px;

	border-left: 1px solid #5270ff;
	border-right: 1px solid #5270ff;

}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 51.96px solid #0e87cf;


}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 51.96px solid #0e87cf;

  margin-left:-130px;

}
.hexagon2 {
  position: relative;
  width: 180px;
  height: 103.92px;
  background-color: #0e87cf;

  margin: 51.96px 0;
  transform:rotate(-30deg);
  margin-top:-65px;
  margin-left:15px;

	border-left: 1px solid #5270ff;
	border-right: 1px solid #5270ff;
}

.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.hexagon2:before {
  bottom: 100%;
  border-bottom: 51.96px solid #0e87cf;


}

.hexagon2:after {
  top: 100%;
  width: 0;
  border-top: 51.96px solid #0e87cf;

  margin-left:-130px;

}
.hexagon3 {
  position: relative;
  width: 180px;
  height: 103.92px;
  background-color: #0e87cf;

  margin: 51.96px 0;
  transform:rotate(-30deg);
  margin-top:-65px;
  margin-left:174px;

	border-left: 1px solid #5270ff;
	border-right: 1px solid #5270ff;
}

.hexagon3:before,
.hexagon3:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.hexagon3:before {
  bottom: 100%;
  border-bottom: 51.96px solid #0e87cf;


}

.hexagon3:after {
  top: 100%;
  width: 0;
  border-top: 51.96px solid #0e87cf;

  margin-left:-180px;

}

.hexagon4 {
  position: relative;
  width: 180px;
  height: 103.92px;
  background-color:#0e87cf;

  margin: 51.96px 0;
  transform:rotate(-30deg);
  margin-top:-245px;
  margin-right:56px;

	border-left: 1px solid #5270ff;
	border-right: 1px solid #5270ff;
  float:right;
}

.hexagon4:before,
.hexagon4:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.hexagon4:before {
  bottom: 100%;
  border-bottom: 51.96px solid #0e87cf;


}

.hexagon4:after {
  top: 100%;
  width: 0;
  border-top: 51.96px solid #0e87cf;

  margin-left:-130px;

}
#slider{
    width:600px;
    height:400px;
    position:relative;
    border:0px solid #5270ff;
	border-radius: 5px;
	float:left;
}

#slider>img{
    width:100%;
    height:100%;
    position:absolute;
    border-radius:5px;
}

#slider>.button{
	width:10px;
	height:40px;
    position:absolute;
    border:none;
    border-radius:25px;
	margin-top:185px;
    color:#fff;
    font-size:18px;


}

#slider>#btn1:hover{
   /* box-shadow:5px 0px 5px 0px #ffffff;
    transition:0.8s; */
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    transform:scale(1.3);
}
#slider>#btn1{
    position:relative;
    float:left;
	margin-left:-10px;
}


#espaco_sobre{
	 width:1200px;
	 height:400px;
	 float:left;
	 margin-top:30px;
}
#menu_hex{
	width:570px;
	height:400px;
	float:left;
	margin-left:15px;
	border:0px solid black;
}
#slider>#btn2{
    position:relative;
    float:right;
}

#slider>#btn2:hover{
    /*box-shadow:-5px 0px 5px 0px #ffffff;
    transition:0.8s;*/
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    transform:scale(1.3);
}

.menu_opt_sobre{
	float:left;
	width:100px;
	height:30px;
	transform:rotate(30deg);
	margin-left:30px;
	margin-top:30px;
	border:0px solid black;
	font-family: Calibri;
	color:#fff;
	font-size:40px;
	opacity: 0.5;

}
.menu_opt_sobre_visao{
	float:left;
	width:160px;
	height:30px;
	transform:rotate(30deg);
	margin-left:20px;
	margin-top:38px;
	border:0px solid black;
	font-family: Calibri;
	color:#fff;
	font-size:40px;
	opacity: 0.5;
}

#area_info_sobre{
	width: 100%;
	height: auto;
	border: solid 1px #ddd;
	border-radius: 20px;
	box-shadow: 2px 1px 20px 1px #c5c5c5;
	margin-top: 500px;

}

#area_info_missao{
	width: 100%;
	height: auto;
	border: solid 1px #ddd;
	border-radius: 20px;
	box-shadow: 2px 1px 20px 1px #c5c5c5;
	margin-top: 50px;
}

#area_info_visao{
	width: 100%;
	height: auto;
	border: solid 1px #ddd;
	border-radius: 20px;
	box-shadow: 2px 1px 20px 1px #c5c5c5;
	margin-top: 50px;
}

#area_info_valores{
	width: 100%;
	height: auto;
	border: solid 1px #ddd;
	border-radius: 20px;
	box-shadow: 2px 1px 20px 1px #c5c5c5;
	margin-top: 50px;
}

.titulo_info_sobre{
	width: 100%;
	height: auto;
	border: 0px solid;
	margin-top: 0px;
}

.titulo_info_sobre p{
	font-size: 60px;
	font-family: Calibri;
	opacity: 0.5;
	margin-left: 50px;
	margin-top: 30px;
}

.titulo_info_sobre img{
	margin-top: -90px;
	margin-right: 10px;
	width: 110px; height: 100px;
	float: right;
}

.txt_info_sobre{
	width: auto;
	height: auto;
	margin-top: 30px;
	margin-left: 35px;
}

.txt_info_sobre p{
	font-size: 22px;
}
/*============================================== PERFIL USUARIO ==============================================*/

#capa_usuario{
	width: 1500px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid;
	box-shadow: 5px 5px 5px #c5c5c5;
}

#img_perfilUsuario{
	width: 300px;
	height: 300px;
	border: 0px solid;
	margin-left: 50px;
	margin-top: 50px;
	float: left;
	border-radius: 20px;
}

#img_perfilUsuario img{
	width: 300px;
	height: 300px;
	border: 0px solid;
}

#area_info_perfilUsuario{
	width: auto;
	height: auto;
	border: 0px solid;
	margin-left: 100px;
	margin-top: 50px;
	float: left;

}

#area_info_perfilUsuario p{
	font-size: 30px;
	font-family: Calibri;
	margin-top: 20px;
}

#area_opcoes_perfilUsuario{
	width: 100%; height: auto;
	margin-top: 45px;
	border: 0px solid;
}

#area_opcoes_perfilUsuario p{
	margin-top: 0px;
	float: left;
}

#area_opcoes_perfilUsuario img{
	width: 35px; height: 35px;
	margin-left: 10px;
}

#mtf_perfilUsuario{
	width: 350px; height: auto;
	border: 0px solid;
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}

#titulo_mtf_perfilUsuario{
	font-size: 50px;
	text-align: center;
}

#pontuacao_mtf_perfilUsuario{
	width: auto; height: 50px;
	border: 0px solid;
	margin-top: 20px;

}

#pontuacao_mtf_perfilUsuario img{
	width: 50px; height: 50px;
	margin-left: 20px;
	float: left;

}

#pontuacao_mtf_perfilUsuario p{
	font-size: 40px;
	font-family: Calibri;
	margin-left: 40px;
	float: left;
}

#duvida_mtf_perfilUsuario{
	width: auto; height: 30px;
	border: 0px solid;
	margin-top: 50px;
}

#duvida_mtf_perfilUsuario p{
	font-size: 20px;
	font-family: Calibri;
	float: left;
	margin-left: 35px;
}

#a_index_duvida{
  color: black;
  font-size: 20px;
	font-family: Tahoma;
	margin-top: 0px;
}

#txt_perfilUsuario{
	width: 1000px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 50px;
	font-family: Calibri;
	border: solid 0px;
}

#txt_perfilUsuario p{
	opacity: 0.5;
}

/**** modal_perfilUsuario ****/

#form_modal_editar_perfilUsuario{

	width: 800px;
	margin: auto;
	margin-left: -200px;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #5270ff;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	border-radius: 4px;
	margin-top: 20px;
}

#hgroup_modal_editar_perfilUsuario {
	width: 800px;
	height: auto;
	text-align:center;
	margin-top: -150px;
	margin-left: -200px;
	margin-right: auto;
	border: 1px solid white;
	border-radius: 5px;
}

.input_modal_editar_perfilUsuario {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 300px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.input_modal_editar_perfilUsuario:focus { outline: none; }

.input_modal_editar_perfilUsuario:focus ~ .label_modal, .input_modal.used ~ .label_modal {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}

.input_modal_editar_perfilUsuario:focus ~ .bar:before, .input_modal:focus ~ .bar:after { width: 50%; }

.input_modal_editar_perfilUsuario:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

.group_editar_perfilUsuario {
	position: relative;
	margin-bottom: 45px;
	float: left;
	border: 0px solid;
	margin-left: 40px;
}

.group_editar_perfilUsuario p{
	text-align: justify;
	font-size: 20px;
	font-family: Calibri;
}

.button_editar_perfilUsuario {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
	margin-top: 10px;
	margin-left: 50px;
  width: 200px;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;

}
.button_editar_perfilUsuario:focus { outline: 0; }

/*============================================== AREA DA RESERVA ==============================================*/

#area_img_areaReserva{
	width: 650px; height: auto;
	border: 0px solid;
	float: left;
}

#img_areaReserva{
	width: 620px; height: 500px;
	border: 0px solid;
	margin-top: 40px;
	margin-left: 10px;
}

#img_areaReserva img{
	width: 100%; height: 100%;
}

.img_areaReserva_mini{
	width: 200px; height: 150px;
	border: 5px solid white;
	margin-left: 10px;
	margin-top: 20px;
	float: left;
}

.img_areaReserva_mini img{
	width: 180px; height: 130px;
	margin-left: 5px;
	margin-top: 5px;
}


.img_areaReserva_mini:hover{
	border: 5px solid #5270ff;
}

#area_txt_areaReserva{
	width: 415px; height: auto;
	float: left;
	margin-top: -10px;
	margin-left: 50px;
	border: 0px solid;
	/*
	border: 3px solid #ccc;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;*/
}

#area_txt_areaReserva p{
	font-size: 25px; font-family: Calibri;
	margin-top: 18px;
	margin-left: 20px;
}

.caixa_areaReserva{
	width: auto; height: auto;
	border: 0px solid #ddd;
	border-radius: 20px;
	/*box-shadow: 2px 1px 20px 1px #c5c5c5;*/
	margin-top: 60px;
}

#nome_hotel_areaReserva{
	width: auto; height: auto;
	border:0px solid;
}

#nome_hotel_areaReserva p{
	font-size: 60px; font-family: Calibri; font-weight: bold;
}

#reserva_inclui_areaReserva{
	width: auto; height: auto;
	border: 0px solid #ddd;
	font-weight: bold;
}

#reserva_inclui_areaReserva p{
	font-size: 35px; font-family: Calibri;
}

#cancelamento_reserva_areaReserva{
	width: auto; height: auto;
	border: 0px solid;
}

#cancelamento_reserva_areaReserva p{
	font-size: 16px; font-family: Calibri; color: #5270ff;
	font-weight: bold;
}

.insert_data{
	width: 250px; height: 50px;
	font-size: 20px;
	border-radius: 10px;
}

.insert_data:hover{

}

.btn_produto_areaReserva{
	font-size: 30px;
	color: #fff;
	background-color:#5270ff;
	font-family: Calibri;
	width: 400px;
	height: 100px;
	border: 0;
	margin-right: 5px;
	transition:0.5s;
	margin-top: 50px;
}

.btn_produto_areaReserva:hover{
	color:#000;
	transition:0.5s;
}

/*============================================================================*/

#principal_footer{
	width: 100%;
	height: 1100px;
	background-color: #4F7BA6;
	-webkit-box-shadow: 10px 10px 5px -5px rgba(96,113,126,0.75);
	-moz-box-shadow: 10px 10px 5px -5px rgba(96,113,126,0.75);
	box-shadow: 10px 10px 5px -5px rgba(96,113,126,0.75);
}

footer{
	width: 100%;
	height: 900px;
	background-color:#fff;
	-webkit-box-shadow: 10px 10px 5px -5px rgba(96,113,126,0.75);
	-moz-box-shadow: 10px 10px 5px -5px rgba(96,113,126,0.75);
	box-shadow: 10px 10px 5px -5px rgba(96,113,126,0.75);
}

#fale_conosco{
	width: 1200px;
	height: 700px;
	margin-left: 300px;
	position: absolute;
	margin-top: 80px;
}

#titulo_fale_conosco{
	width: 700px;
	height: 80px;
	position: absolute;
	margin-left: 265px;
	margin-top: 20px;
}

#titulo_fale_conosco h1{
	color: #000;
	opacity: 0.6;
	font-family: Calibri;
	font-size: 60px;
	text-align: center;
	margin-bottom:5px;
}

#campos_fc{
	width: 500px;
	height: 200px;
	position: absolute;
	margin-left: 170px;
	margin-top: 120px;
}

.inputs_fc{
	margin-bottom: 20px;
	width: 500px;
	height: 50px;
	border: 0;
	background-position: right;
	background-repeat:no-repeat;
	background-image: url(../imagens/nome.png);
	font-family: Calibri;
	font-size: 27px;
	border: solid 0px #5270ff;
	border-radius: 2px;
}

.inputs_fc_mail{
	margin-bottom: 20px;
	width: 500px;
	height: 50px;
	border: 0;
	background-position: right;
	background-repeat:no-repeat;
	background-image: url(../imagens/mail_fc.png);
	font-family: Calibri;
	font-size: 27px;
	border: solid 0px #5270ff;
	border-radius: 2px;
}

.inputs_fc_tel{
	margin-bottom: 20px;
	width: 500px;
	height: 50px;
	border: 0;
	background-position: right;
	background-repeat:no-repeat;
	background-image: url(../imagens/call.png);
	font-family: Calibri;
	font-size: 27px;
	border: solid 0px #5270ff;
	border-radius: 2px;
}

#sugestao{
	width: 350px;
	height: 194px;
	margin-left: 700px;
	margin-top: 120px;
	position: absolute;
}

#input_obs{
	width: 350px;
	height: 194px;
	border: 0;
	resize: none;
	font-family: Calibri;
	font-size: 27px;
	border: solid 0px #5270ff;
	border-radius: 2px;
}

#div_btn_enviar{
	width: 887px;
	height: 100px;
	position: absolute;
	margin-top: 350px;
	margin-left: 168px;
	background-color: #fff;
}

#btn_enviar{
	width: 887px;
	height: 100px;
	border: 0;
	color: #5270ff;
	font-family: Calibri;
	font-size: 50px;
	font-weight:bold;
	transition: 1.5s;
	background-color: #fff;
	border: solid 0px #5270ff;
}

#div_btn_enviar:hover #btn_enviar{
	color:#000;
	transition: 1s;
}

#rds_sociais{
	width: 260px;
	height: 50px;
	position: absolute;
	margin-left: 775px;
	margin-top: 590px;
}

.icons_rc{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 10px;
	transition: 1s;
}

.icons_rc img{
	width: 50px;
	height: 50px;
	transition: 1s;
}

.icons_rc:hover img{
	background-color:#fff;
	border-radius: 70px;
}

#localização{
	width: 100%;
	height: 300px;
	position: absolute;
	/*background-color:#4169E1;*/
	background-color: #4D769F;
	margin-top: 700px;
}

#maps{
	height: 280px;
	width: 500px;
	background-color: #000;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

#txt_tourdreams{
	width: 700px;
	height: 280px;
	margin-left: 520px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
}

#txt_tourdreams p{
	color: #fff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bolder;
	margin-bottom: 10px;
	opacity: 0.7;
}

#google_translate_element{
	position: absolute;
	margin-left: 1300px;
	margin-top: 115px;
	font-family: 30px;
}

#google_translate_element select{
	height: 50px;
	font-family: Calibri;
	font-size: 30px;
	width: 280px;
	border: 0;
	opacity: 0.7;
}

#direitos_reservados{
	width: 100%;
	height: 100px;
	/*background-color: #3d60e6;*/
	background-color: #496F96;
	position: absolute;
	margin-top: 300px;
}

#direitos_reservados p{
	text-align: center;
	font-family: Calibri;
	font-family: 23px;
	color: #fff;
	margin-top: 40px;
}

/* CSS MODAL*/
* { box-sizing:border-box; }

#form_modal{

	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #5270ff;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	border-radius: 4px;
	margin-top: 20px;
}



body {
	font-family: Calibri;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

#hgroup_modal {
	width: 380px;
	height: auto;
	text-align:center;
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	border-radius: 5px;
}

#hgroup_modal p{
	margin-top:10px;
}

.h1_modal, .h3_modal { font-weight: 300; }

.h1_modal { color: #636363; }

.h3_modal { color: #4a89dc; }



.group {
	position: relative;
	margin-bottom: 45px;
}

.group p{
	text-align: justify;
	font-size: 20px;
	font-family: Calibri;
}

.input_modal {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.input_modal:focus { outline: none; }


/* Label */

.label_modal {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}


/* active */
.input_modal:focus ~ .label_modal, .input_modal.used ~ .label_modal {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #4a89dc;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.input_modal:focus ~ .bar:before, .input_modal:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.input_modal:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;

}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }
/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

/* Ripples circle */
.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}

/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.window{
    display:none;
    width:500px;
    height:600px;
    position:absolute;
    left:0;
    top:0;
    background:transparent;
    z-index:9900;
    padding:10px;
    border-radius:10px;
	transition:2s;
}

#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}

.fechar{display:block; text-align:right;}
